<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	<link href="~/Content/Site.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/modernizr-2.8.3.js"></script>
	@{
		string username = "";
		if (Request.Cookies["UserCookies"] != null)
		{
			username = Request.Cookies["UserCookies"].Value;
		}
	}
</head>
<body>
	<div id="header">
		<h1>
			ASP.NET MVC MUSIC STORE
		</h1>
		<ul id="navlist">
			<li class="first"><a href="@Url.Content("~")" id="current">Home</a></li>
			<li><a href="/Store/">Store</a></li>
			<li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
			@if (username == "")
			{
				<li><a href="/Account/LogOn">Log On</a></li>
			}
			else if (username == "Administrator")
			{
				<li><a href="@Url.Content("~/StoreManager/")">Admin</a></li>
				<li>
					<a href="@Url.Content("~/Account/LogOff")">Log Out</a>
				</li>
			}
			else
			{
				<li><a>Hi @username</a></li>
				<li>
					<a href="@Url.Content("~/Account/LogOff")">Log Out</a>
				</li>
			}
		</ul>
	</div>
	@{Html.RenderAction("GenreMenu", "Store");}
	<div id="main">
		@RenderBody()
	</div>
	<div id="footer">
		built with <a href="https://dotnet.microsoft.com/apps/aspnet/mvc">ASP.NET MVC 5 - La Quoc Thang</a>
	</div>
</body>
</html>
