@model MVCMusicStore.Models.Album

@{
	ViewBag.Title = "Album - " + Model.Title;
}

<h2>Thông tin chi tiết</h2>
<h5>@ViewBag.Title</h5>


<div id="album-details">
	<div class="center">
		<img alt="@Model.Title" src="@Model.AlbumArtUrl" />
		<table class="table table-borderless">
			<tr>
				<td>Thể loại:</td>
				<td><b>@Model.Genre.Name</b></td>
			</tr>
			<tr>
				<td>Nghệ sĩ:</td>
				<td><b>@Model.Artist.Name</b></td>
			</tr>
			<tr>
				<td>Giá:</td>
				<td><b>@String.Format("{0:C}", Model.Price)</b></td>
			</tr>
		</table>
		<input type="button" class="btn btn-info" value="Thêm vào giỏ hàng" onclick="location.href='@Url.Action("AddToCart", "ShoppingCart",new { id = Model.AlbumId })'" />
	</div>
</div>
