@model MVCMusicStore.Models.Album

@{
	ViewBag.Title = "Album - " + Model.Title;
}

<h2>Thông tin chi tiết</h2>
<h5>@ViewBag.Title</h5>

<div id="album-details">
	<div class="center">
		<img alt="@Model.Title" src="@Model.AlbumArtUrl" />
		<table class="table table-borderless">
			<tr>
				<td>Thể loại:</td>
				<td><b>@Model.Genre.Name</b></td>
			</tr>
			<tr>
				<td>Nghệ sĩ:</td>
				<td><b>@Model.Artist.Name</b></td>
			</tr>
			<tr>
				<td>Giá:</td>
				<td><b>@String.Format("{0:C}", Model.Price)</b></td>
			</tr>
		</table>
		<div class="form-group">
			<label for="quantity" style="display:inline-block;">Số lượng: </label>
			<input id="quantity" style="max-width:80px;display:inline-block;" class="form-control" type="number" min="1" max="100" step="1" value="1" />
			@*<input type="button" class="btn btn-info" style="display:inline-block;" value="Thêm vào giỏ hàng" onclick="location.href='@Url.Action("AddToCart", "ShoppingCart", new { id = Model.AlbumId })'" />*@
			<input type="button" id="checkout" class="btn btn-success" value="Thêm vào giỏ hàng" />
			<script>
				$(document).ready(function () {
					$("#checkout").click(function(event){
						var id = @Model.AlbumId;
						var quantity = $("#quantity").val();
						event.preventDefault();
						window.location.href = "@Url.Action("AddToCart", "ShoppingCart")" + "?id=" + id + "&quantity="+ quantity;
					});
				})
			</script>
		</div>
	</div>
</div>
